html 
        head 
            title services
            link(rel='stylesheet', href='/stylesheet/style.css')
        body
            include ./layout.pug
        
            img(src="i.png", alt="imagemac" width='1400',style='margin-top: 50px' ,height='600')